<div style="background-color:chartreuse;">
  <div style="text-align: center;">
    <h1 style="color: blue;">Lazy Loading in Angular </h1>
  </div>
  <div style="text-align: justify;">
    <h3 style="color: blue;">Admin Page Links</h3>
    <ul>
      <li>
        <a routerLink='admin/login'>Login</a>
      </li>
      <li>
        <a routerLink='admin/list'>List</a>
      </li>
    </ul>
  </div>
  <br>
  
  <div style="text-align: justify;">
  <h3 style="color: blue;">User Page Links</h3>
  <ul>
    <li>
      <a routerLink='user/login'>Login</a>
    </li>
    <li>
      <a routerLink='user/list'>List</a>
    </li>
  </ul>

  </div>
  
  
  <router-outlet></router-outlet>
</div>
